{% extends 'layout.html'%}
{% block content %}
<link href="https://fonts.cdnfonts.com/css/penguin" rel="stylesheet">


<div class="main-container">
    <h2>Welcome To The School Geoguesser!</h2>
    
    
    
    
    
    
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Nibh praesent tristique magna sit amet purus gravida quis. Nisi lacus sed viverra tellus in hac habitasse. At augue eget arcu dictum varius duis. Pulvinar elementum integer enim neque. Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam. Feugiat pretium nibh ipsum consequat nisl vel pretium. Et molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit. Velit scelerisque in dictum non consectetur a erat nam at. Nascetur ridiculus mus mauris vitae ultricies. Donec pretium vulputate sapien nec

Proi
n sed libero enim sed faucibus turpis in eu mi. Eu ultrices vitae auctor eu augue ut lectus arcu. Egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam. Ut eu sem integer vitae justo eget magna fermentum. Vitae justo eget magna fermentum iaculis eu. Leo in vitae turpis massa sed elementum tempus egestas. Cursus eget nunc scelerisque viverra mauris. Bibendum neque egestas congue quisque egestas diam. Euismod nisi porta lorem mollis aliquam ut porttitor leo a. Dolor sit amet consectetur adipiscing elit. Urna neque viverra justo nec ultrices dui sapien eget mi. Vulputate mi sit amet mauris commodo quis. Mi bibendum neque egestas congue quisque egestas diam in arcu. Porta lorem mollis aliquam ut porttitor. Habitant morbi tristique senectus et netus. Est ante in nibh mauris cursus mattis molestie. Aliquet enim tortor at auctor urna.



E
u scelerisque felis imperdiet proin fermentum. Quis varius quam quisque id diam vel quam. At elementum eu facilisis sed. At tempor commodo ullamcorper a lacus. Pharetra massa massa ultricies mi. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. Leo urna molestie at elementum eu facilisis sed. Auctor eu augue ut lectus arcu bibendum at. Nullam ac tortor vitae purus faucibus ornare suspendisse sed. Urna et pharetra pharetra massa massa ultricies mi quis hendrerit. Risus sed vulputate odio ut enim blandit. Libero justo laoreet sit amet cursus sit amet dictum sit. Cum sociis natoque penatibus et magnis dis. Porttitor eget dolor morbi non. Erat imperdiet sed euismod nisi porta lorem mollis aliquam ut. Ut aliquam purus sit amet luctus venenatis lectus magna fringilla.



Eget nunc scelerisque viverra mauris in aliquam. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. Sit amet risus nullam eget felis eget nunc lobortis mattis. Vel pharetra vel turpis nunc eget lorem. Bibendum at varius vel pharetra vel turpis nunc eget lorem. Duis tristique sollicitudin nibh sit amet commodo. Ut tellus elementum sagittis vitae et leo duis. Urna porttitor rhoncus dolor purus non enim praesent elementum facilisis. Sed felis eget velit aliquet. Velit dignissim sodales ut eu sem integer vitae. Vivamus at augue eget arcu. Urna neque viverra justo nec ultrices dui sapien eget mi. Quisque egestas diam in arcu. Non curabitur gravida arcu ac tortor. Sed tempus urna et pharetra pharetra massa. Laoreet suspendisse interdum consectetur libero. A diam sollicitudin tempor id eu.



Elit ut aliquam purus sit amet luctus venenatis. Lorem donec massa sapien faucibus et. Cras adipiscing enim eu turpis egestas pretium aenean. Turpis tincidunt id aliquet risus feugiat in ante. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus. Et pharetra pharetra massa massa. Gravida quis blandit turpis cursus in. Fermentum iaculis eu non diam phasellus vestibulum. Eu tincidunt tortor aliquam nulla facilisi cras. Fermentum dui faucibus in ornare quam. Mi sit amet mauris commodo quis imperdiet massa. Amet nulla facilisi morbi tempus iaculis urna id. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada. Sodales neque sodales ut etiam.



Ac tincidunt vitae semper quis lectus nulla at. Magna fringilla urna porttitor rhoncus dolor purus. Netus et malesuada fames ac turpis egestas. Quis risus sed vulputate odio ut enim blandit volutpat maecenas. Semper risus in hendrerit gravida rutrum quisque non. Volutpat est velit egestas dui id ornare arcu odio ut. Nisi vitae suscipit tellus mauris a diam. Tellus in hac habitasse platea dictumst vestibulum rhoncus est. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Blandit libero volutpat sed cras ornare arcu dui vivamus. Proin sagittis nisl rhoncus mattis rhoncus urna neque. Sit amet porttitor eget dolor morbi non. Lorem mollis aliquam ut porttitor. Euismod elementum nisi quis eleifend. Augue mauris augue neque gravida in fermentum et sollicitudin.



Elementum pulvinar etiam non quam lacus suspendisse. Nibh praesent tristique magna sit. Facilisi nullam vehicula ipsum a. Vitae turpis massa sed elementum tempus egestas sed sed. Sit amet justo donec enim. Iaculis nunc sed augue lacus. Dolor sit amet consectetur adipiscing elit. Facilisis gravida neque convallis a cras semper auctor neque. Sit amet cursus sit amet dictum sit amet justo donec. Duis convallis convallis tellus id interdum. Ut sem viverra aliquet eget. Maecenas sed enim ut sem viverra. Orci dapibus ultrices in iaculis nunc sed augue lacus viverra. Nulla posuere sollicitudin aliquam ultrices sagittis orci. Et tortor consequat id porta nibh venenatis. A lacus vestibulum sed arcu non odio euismod lacinia. Erat nam at lectus urna duis convallis convallis tellus id. Pellentesque habitant morbi tristique senectus et.



Ante metus dictum at tempor commodo. Vel eros donec ac odio tempor orci dapibus ultrices. Pretium nibh ipsum consequat nisl vel pretium lectus. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus. Vitae tortor condimentum lacinia quis vel. Donec adipiscing tristique risus nec feugiat in fermentum. Habitant morbi tristique senectus et. Vel pretium lectus quam id leo in vitae. Mauris rhoncus aenean vel elit. Pharetra vel turpis nunc eget lorem dolor sed viverra. Neque ornare aenean euismod elementum nisi quis eleifend quam.



Natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Mauris in aliquam sem fringilla ut morbi. Sit amet volutpat consequat mauris nunc congue. Condimentum vitae sapien pellentesque habitant morbi tristique. Donec pretium vulputate sapien nec sagittis aliquam malesuada. Eget gravida cum sociis natoque. Duis ultricies lacus sed turpis. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Id aliquet lectus proin nibh nisl condimentum id. Semper eget duis at tellus at.

Viverra adipiscing at in tellus integer feugiat scelerisque. At tellus at urna condimentum mattis pellentesque id nibh. Volutpat blandit aliquam etiam erat velit. Enim sit amet venenatis urna cursus eget. Sit amet dictum sit amet justo donec enim diam vulputate. Erat nam at lectus urna duis convallis convallis tellus. Lectus nulla at volutpat diam ut. Et malesuada fames ac turpis egestas sed tempus urna et. Mollis aliquam ut porttitor leo. Maecenas pharetra convallis posuere morbi leo urna molestie. Mattis nunc sed blandit libero volutpat sed. At elementum eu facilisis sed odio. Nullam ac tortor vitae purus faucibus ornare. Tortor consequat id porta nibh. Rhoncus urna neque viverra justo nec ultrices dui sapien. Risus nec feugiat in fermentum posuere urna nec. Posuere lorem ipsum dolor sit amet consectetur. Molestie at elementum eu facilisis sed odio morbi quis commodo. Cras pulvinar mattis nunc sed.

</div>



{% endblock %}




