{% extends 'layout.html'%}
{% block content %}

<div class="profile-box" id="main">
    <h2 class="title">User: {{user.firstname}} {{user.lastname}}</h2>
    <div class="top-box">
        <div class="pfp-box">
            <img class="pfp" src="{{user.avatar}}">
        </div>
        <div class="user-info-box">
            <ul>
                <li>Name: {{user.firstname}} {{user.lastname}}</li>
                <li>Username: {{user.alias}}</li>
                <li>Email: {{user.email}}</li>
                <li>Account created: {{user.account_created}}</li>
            </ul>
        </div>
    </div>
    <div class='newbie'><p><a id="link" href="{{ url_for('profile_bp.profile_update')}}">Edit Account</a></p></div>
</div>
{% endblock %}