

/* general stuff */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    /* bgcolor */
    --bd-color: #081426;
    /* formcolor6e */
    --shadow-color: #040e1d6e; 
    /* maincolor */
    --main-color: #f17754;
    /* subcolor */
    --head-color: #ffbc90;
    /* textcolor */
    --text-color: #ffe4bc;
    /* SUBALTCOLOR */
    --form-color: #040e1d;
    /*  */
    --input-color: #99999957;
}

body {
    /* background-color: var(--bd-color); */
    background-image: url("https://wallpapercave.com/wp/wp4523638.jpg");
    background-size: auto;
    /* background-position: relative; */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    color: var(--text-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px; 
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    color: #fff;

} 
h1 {
    color: #64374d;
    margin-right: 5px;
}
li {
    list-style: none;
    padding: 5px;
    margin: 5px;
}

/* Nav */
header {
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: var(--form-color);
    border-color: var(--form-color);
    /*For adjusting sides of header*/
    width: 100%;
    margin-top: -5px;
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 10px;
    opacity: 85%;
    position: fixed;
}
.header-menu {
    display: flex;
    align-items: center;
}
nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
} 
#main {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-group-head {
    width: 600px;
    border-style: none;

}


.spacer {
    height: 48px;
    width: 100%;
}

.main-container {
    margin: 5px;
}


.link {
    display: inline-block;
    color: white;
    padding: 10px;
    align-items: center;
}
/* FORMS */
#link:hover {
    color: rgb(194, 55, 0);
    background-color: #00ffee1c;
}
.player {
    width: 100%;
    height: 100%;
}
.login {
    float: right;

    background-color: var(--main-color);
    border-radius: 0%;
    height: 47.78px;
    padding: 15px;
}
.profile-box {
    background-color: var(--bd-color);
    padding: 10px;
    border-radius: 45px;
}
.top-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pfp {
    width: 170px;
    height: 170px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    image-rendering: crisp-edges;
    border-style: solid;
    border-radius: 100%;
    border-width: 2px;
    border-color: var(--head-color);
}
.user-box {
    background-color: var(--form-color);
    padding: 20px;
    border-radius: 10px;
}
input {
    width: 100%;
    padding: 12px 8px;
    margin-bottom: 5px;
    display: inline-block;
    color: var(--inptr-color);
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--input-color);
}

input[type=submit] {
    width: 100%;
    background-color: var(--main-color) ;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}
  
input[type=submit]:hover {
    background-color: var(--text-color) ;
}
  
.content-section {
    border-radius: 5px;
    border: 1px solid #000000;
    border-top: 3px solid #000000;
    border-left: 3px solid #000000;
    background-color: var(--form-color);
    padding: 15px;
    box-shadow: 5px 15px 1px var(--shadow-color);
    
}
.popup {
    background-color: #000000b6;
    color: aliceblue;
    padding: 10px;
    align-items: center;
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-wrap: wrap;
}
div.alert.alert-message {
    text-align: center;
    width: 95%;
}
.right {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: 5%;
}
.right a {
    padding: 5px;
}

.title, label {
    color: var(--head-color);
    padding: 2px;
}

.newbie {
    width: 100%;
    display: flex;
    justify-content: center;
}
p a {
    padding: 1px 4px;
}
